---
const assessmentUrl = 'https://survey.novixa.vn';
---

<header class="hc-header">
  <div class="hc-container hc-header__inner">
    <a href="/vi" class="hc-header__logo">
      <img src="/images/logo.png" alt="" width="32" height="32" decoding="async" />
      <span>NOVIXA</span>
    </a>
    <a class="hc-header__cta" href={assessmentUrl}>Bắt đầu đánh giá</a>
  </div>
</header>
